<p>
    <%-description%>
</p>
<div style="display: flex">
    <span>
        <a href="<%-resLink%>">
            <b>Reschedule</b>
        </a>
    </span>
    <span>
        <a href="<%-cancelLink%>">
            <b>Cancel</b>
        </a>
    </span>
</div>