<div>
    <b>Event title:</b>
    <%=title%>
</div>
<div>
    <b>Description:</b>
    <%=description%>
</div>
<div>
    <b><a href="<%=reschedule%>">Reschedule here</a></b> |
    <b><a href="<%=cancel%>">Cancel here</a></b>
</div>
